/* HTML */

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header{
	background-color: #353535;
    height: 8%;
}

.headerContainer {
    height: 100%;
}

.logo{
    width: 10%;
    height: 100%;
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0.9% 0 0.9% 0;
}

.logo img{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-left: 25%;
    padding-right: 15%;
}

.mainNav{
	height: 100%;
    width: 90%;
    float: left;
    padding: 1% 0 1% 0;
}

.mainNav a{
	color: #ffffff;
	font-size: 120%;
	text-decoration: none;
    transition: all .2s ease-in-out;
    width: 13%;
    display: inline-block;
    text-align: center;
}

.mainNav a:hover{
    transform: scale(1.3);
}

.mainNav a:last-child{
    color: #FA7E0A;
    float: right;
    margin-right: 2%;
}

/* HOME CONTENT */

.homeContent {
    height: 92%;
    background-image: url('../images/background.jpg');
    background-size:100% 100%;
}

.homeContentLong {
    height: 200%;
    background-image: url('../images/stage.png');
    background-size: 100% 100%;
}

.homeImage {
    height: 45%;
    vertical-align: middle;
    text-align: center;
    padding: 2% 0 2% 0;
}

.homeImage img {
    height: 100%;
    width: 20%;
    display: inline-block;
    text-align: left;
}

.homeDescription {
    height: 40%;
    padding: 2% 10% 1% 10%;
}

.homeDescription p {
    font-size: 150%;
    color: white;
    text-align: center;
}

.madePredictionHome {
    font-size: 200%;
    color: white;
    text-align: center;
}

.homeParticipateButton{
    height: 15%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0;
}

.homeParticipateButton button{
    display: inline-block;
    text-align: left;
    background-color: #FA7E0A;
    border: #FA7E0A;
    transition: all .2s ease-in-out;
}

.homeParticipateButton button:hover{
    background-color: #FA7E0A;
    border: #FA7E0A;
    transform: scale(1.3);
}

/* FOOTER */

.footer {
    background-color: #353535;
    height: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.footerLink {
    color: #FA7E0A;
}

.footerLink:hover {
    color: #FA7E0A;
    text-decoration: none;
}

/* LOGIN AND REGISTER */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
  
#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #353535;
    padding: 20px;
    width: 35%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
  
#formFooter {
    background-color: #353535;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.errorFooter {
    background-color: #353535;
    border-top: 1px solid red;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.errorFooter p {
    color: red;
    font-size: 1.3em;
}

.loginForm {
    padding-top: 5%;
}

input[type=button], input[type=submit], input[type=reset]  {
    background-color: #FA7E0A;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 white;
    box-shadow: 0 10px 30px 0 white;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 7%;
}
  
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #FA7E0A;
}
  
input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text], input[type=password]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #FA7E0A;
}
  
input[type=text]:placeholder, input[type=password]:placeholder {
    color: #cccccc;
}

.fadeInLoginModalDown {
    -webkit-animation-name: fadeInLoginModalDown;
    animation-name: fadeInLoginModalDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@-webkit-keyframes fadeInLoginModalDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
  
@keyframes fadeInLoginModalDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@-webkit-keyframes fadeInLoginModal { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeInLoginModal { from { opacity:0; } to { opacity:1; } }
@keyframes fadeInLoginModal { from { opacity:0; } to { opacity:1; } }
  
.fadeInLoginModal {
    opacity:0;
    -webkit-animation:fadeInLoginModal ease-in 1;
    -moz-animation:fadeInLoginModal ease-in 1;
    animation:fadeInLoginModal ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    padding-top: 5%;
}

.fadeInLoginModal h2{
    color: #FA7E0A;
    font-size: 3.5em;
}
  
.fadeInLoginModal.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
  
.fadeInLoginModal.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
  
.fadeInLoginModal.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
  
.fadeInLoginModal.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.underlineHover {
    color: #FA7E0A;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #FA7E0A;
    content: "";
    transition: width 0.2s;
}
  
.underlineHover:hover {
    color: white;
    text-decoration: none;
}
  
.underlineHover:hover:after{
    width: 100%;
}
  
*:focus {
      outline: none;
} 
  
#icon {
    width:60%;
}

/* CHOOSE LEAGUE */

.descriptionChoose {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionChoose p {
    font-size: 3em;
    color: white;
    text-align: center;
}

.imagesChoose {
    height: 50%;
}

.leagueChoose {
    width: 50%;
    float: left;
    text-align: center;
}

.leagueChoose a img {
    height: 100%;
    transition: all .2s ease-in-out;
}

.leagueChoose a img:hover{
    transform: scale(1.1);
}

.marginRight {
    margin-right: 20%;
}

.marginLeft {
    margin-left: 20%;
}

/* PREDICTIONS */

body.dragging, body.dragging * {
    cursor: move !important;
}
  
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.leaguePredictionDescription {
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaguePredictionDescription p {
    font-size: 1.8em;
    color: white;
    text-align: center;
}

.leagueForm {
    height: 55%;
    text-align: center;
}

.leaguePredictionOl {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.teams {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.teams li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams li img {
    width: 20%;
    padding-right: 5%;
    float: left;
}

.teams2 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.teams2 li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams2 li img {
    width: 20%;
    padding-right: 5%;
    float: left;
}

.teamNamePrediction {
    float: left;
    width: 80%;
    text-align: center;
}

.playersPrediction {
    padding-top: 6%;
    height: 30%;
    width: 100%;
}

.onePrediction {
    text-align: center;
    width: 33%;
    float: left;
}

.onePrediction p {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.onePrediction p i{
    padding-left: 2%;;
}

.onePrediction select {
    width: 30%;
    display: inline-block;
}

.sendLeagueFormButton {
    height: 9%;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendLeagueFormButton input {
    margin: 0 auto;
}

/* PREDICTION SAVED (THANKS) */

.thanksImg {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 5%;
    padding-right: 7%;
}

.thanksImg img {
    width: 70%;
    height: 80%;
    float: right;
}

.thanksRight {
    width: 40%;
    height: 100%;
    float: left;
    padding-top: 12%;
}

.thanksDescription {
    color: white;
    text-align: center;
}

.thanksDescription h1 {
    font-size: 3em;
    margin-bottom: 6%;
}

.thanksDescription p {
    font-size: 2em;
    margin-bottom: 8%;
}

/* FINISH LEAGUE */

.leaguePredictionOlFinish {
    width: 50%;
    float: left;
    float: left;
}

.onePredictionFinish {
    margin-top: 3%;
    text-align: center;
    width: 33%;
    float: left;
}

.onePredictionFinish p {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.onePredictionFinish select {
    width: 30%;
    display: inline-block;
}

/* LEADERBOARD */

.calendarLeaderboard {
    height: 60%;
    vertical-align: middle;
    text-align: center;
    padding: 12% 0 2% 0;
}

.calendarLeaderboard img {
    height: 100%;
    width: 15%;
    display: inline-block;
    text-align: left;
}

.descriptionLeaderboard {
    height: 20%;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.descriptionLeaderboard p {
    color: white;
    font-size: 200%;
}




.userInfoLeaderboard {
    height: 15%;
    text-align: center;
    padding-top: 8%;
}

.userInfoLeaderboard p {
    color: white;
    font-size: 200%;
}

.tableLeaderboard {
    padding-top: 5%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.white {
    background-color: white;
}

tr,th {
    text-align: center;
}

/* MODIFY TEAM */

.nameModify {
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameModify input{
    width: 40%;
    margin: 0 auto;
}

.playersModify {
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playersModify {
    width: 40%;
    margin: 0 auto;
}

.sendModifyButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STARTED */

.started {
    padding-top: 15%;
    text-align: center;
}

.started p {
    color: white;
    font-size: 2.7em;
    margin-top: 2%;
}